@import '../../color';
.User{
    color: $white-ui;
    background-color: $dark-periwinkle;
    border-radius: 5px;
    text-align: left;
    display: flex;
    flex-direction: 1;
    gap: 10px;
    padding: 5px;
    .Icon{
        margin-left: 50px;
        margin-top: 14px;
    }
    h3{
        font-size: 16px;
        .Sub{
            font-size: 15px;
            font-weight: 300;
        }
    }
}
@media screen and (max-width: 1200px){
    .Ublock{
        margin-top: 60px;
        padding: 5px;
    }
    .User{
        margin-top: 20px;
        .Icon{
            margin-left: 0px;
            margin-top: 14px;
        }
    }
}