$highlighter-pink: #FF6B6B;
$dark-periwinkle: #3c50e0;
$megaman: #48CAE4;
$fresh-turquoise: #00B4D8;
$minty-green: #83C5BE;
$free-speech-blue: #3A86FF;
$spiro-disco-ball: #25CCF7;
$green-teal: #1B9CFC;
$marenutorange: #FF9F43;
$minset-orange: #FF793F;
$hint-of-elcote-blue: #686DE0;
$dodo-night: #2C3A47;
$chrome-yellow: #FFC312;
$art-yellow: #FFD32A;
$red-orange: #FF3F34;
$london-square: #808B96;
$black-pearl: #1e272e;
$white-ui: #f1f5f9;
$box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;